//footer css

footer {
    margin-top: 63px;
    background: #0d4b82;
    color: #fff;
    height: 37px;
    padding: 0px;
}

footer ul li {
    display: initial;
    margin-right: 26px;
    padding: 5px;
}

li.footer-list {
    float: right;
}

footer a {
    color: #fff;
}