<header>
  <nav>
    <ul>
      <!--to link the URL we use routerLink instead of href-->
      <a  routerLink="/"><img src = "./assets/images/CrazyVegasLogo.png" alt = "USA Logo" Title="Logo"></a> 
      <li><a  routerLink="/">USA Online Casinos</a></li>
      <li><a  routerLink="/casinogames">Casino Games</a></li>
      <li><a  routerLink="/onlineslots">Online Slots</a></li>
      <li><a  routerLink="/mobilecasino">Mobile Casino</a></li>
      <li><a  routerLink="/realmoneycasino">Real Money Casinos</a></li>
    </ul>
  </nav>

</header>
